# This workflow will run doc tests for a single Python version. For more
# information see:
# https://help.github.com/actions/language-and-framework-guides/
# using-python-with-github-actions


name: Documentation Check

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9"]

    name: Documentation tests
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install standard and test dependencies, then ocbpy
      run: |
        python -m pip install --upgrade pip
        pip install -rdocs/requirements.txt sphinx sphinx_rtd_theme numpydoc
        bash requirements.extra 0
        python setup.py install

    - name: Check documentation build
      run: sphinx-build -E -b html docs dist/docs

    - name: Check documentation links
      run: sphinx-build -b linkcheck docs dist/docs

    - name: Load .zenodo.json to check for errors
      run: python -c "import json; json.loads(open('.zenodo.json').read())"
